// wGlobals

$site-background: #ebebeb;
$wrapper-background: #fff;
$header-bg-color: #c9c8ce;
$footer-bg-color: #c9c8ce;

$header-text-color: #444;
$body-text-color: #777;
$nav-text-color: #fff;

$masthead-title: 3.2rem;
$large-title: 2.4rem;
$medium-title: 2.2rem;
$body-text: 1.6rem;
$body-title: 1.6rem;

$font-weight-medium: 400;
$font-weight-regular: 300;

$main-nav-color: #3a3a42;



