/* ================================ MEDIA QUERIES =======================================*/


@media only screen and (max-width: 480px) { 
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12  
    {
    float: none;
    width: 100%;
    margin-bottom: 8px;
  }  

}


/* -------------------- 768px and above ---------------------- */


@media only screen and (max-width: 767px) {
  .featured-article-home {
      width: 100%;
      margin-bottom: 8px;
      }

}


/* -------------------- 800px and above ---------------------- */



@media only screen and (min-width: 800px) {

.intro-text {
      width: 66.66%;
  }

  .mobile {
      display: block;
  }

  .intro-call-to-action {
    padding: 0 0 0 24px;
  }

  .featured-article-home {
   height: 180px;
  }



/* -------------------  nav bar display on ------------- */


nav {
  display: block;
  height: 50px;
  }

  nav li {
  float: left;
  }

} /*------------- end query ---------------*/














