/* ================================ OVERRIDES (temp) =======================================*/

.mobile {
    display: none;
  }

h1 > a {
    font-size: $medium-title;
    color: $header-text-color;
}





